langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-experimental
unstructured[xlsx]
langgraph

langchain-openai
langchain-groq
langchain-huggingface

langchain-unstructured
langchain-chroma
langchain-pinecone

sentence-transformers
transformers
accelerate
tiktoken

faiss-cpu
chromadb

pypdf
pymupdf

pdfminer.six
python-docx
docx2txt
jq

pandas
openpyxl

rank_bm25
wikipedia
duckduckgo-search

python-dotenv
pydantic

matplotlib

jupyter
ipykernel
jupytext

# Added per user request
numpy
scikit-learn
pinecone


nbconvert
ipywidgets


